.header {
  background-color: $color-primary;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px 0px;

    @include media-tablet {
      padding: 20px;
    }
  }

  &__user-profile {
    @include media-tablet {
      margin-left: auto;
      z-index: 2;
    }
  }
}

.user-profile {
  width: 28px;
  height: 28px;
  background-image: url('../images/svg/icon_profile.svg');
  // transition: filter 0.3s;
  transition: all 1s ease-in-out;

  &:hover {
    filter: invert(59%) sepia(31%) saturate(539%) hue-rotate(355deg)
      brightness(96%) contrast(89%);
    cursor: pointer;
  }

  &.open {
    margin-right: -7px;
    transition: all 1s ease-in-out;
  }
}
