/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Verdana, sans-serif;
}

.card-info__title, .form__input::placeholder, .menu__item-price, .menu__title, .welcome__title, .modal-card__title, .modal-register__title, .user-info__title, .card__category, .logo, h2 {
  font-family: "Forum", Verdana, sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 4rem;
  color: #0C0C0E;
}
body.open {
  height: 100vh;
  overflow-y: hidden;
}

h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  position: relative;
  margin-bottom: 60px;
  text-align: center;
}
h2::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -20px;
  display: block;
  width: 50px;
  height: 1px;
  margin: 0 auto;
  background-color: #0C0C0E;
}

.logo {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 5rem;
  color: #FFFFFF;
}

.hamburger__line, .hamburger::after, .hamburger::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;
}

.hamburger {
  position: relative;
  display: none;
  width: 45px;
  height: 20px;
}
.hamburger::before {
  content: "";
  top: calc(50% - 11px);
}
.hamburger::after {
  content: "";
  top: calc(50% + 9px);
}
@media (max-width: 1180px) {
  .hamburger {
    z-index: 2;
    display: inline-block;
  }
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger:hover .hamburger__line, .hamburger:hover::after, .hamburger:hover::before {
  background-color: #BB945F;
}

.hamburger.open .hamburger__line {
  opacity: 0;
}
.hamburger.open::after, .hamburger.open::before {
  top: 50%;
  left: 0;
}
.hamburger.open::after {
  bottom: 7px;
  transform: rotate(-45deg);
}
.hamburger.open::before {
  top: 10px;
  transform: rotate(45deg);
}

.hamburger__line {
  top: calc(50% - 1px);
}

.mask-content {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
  -webkit-transition: opacity 1s, visibility 1s;
}
.mask-content:hover {
  cursor: pointer;
}
.mask-content.open {
  display: block;
  visibility: visible;
  opacity: 1;
}

.book {
  position: relative;
  width: 550px;
  min-height: 555px;
  color: #000000;
  border: 1px solid #000000;
}

.book__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0px 15px 15px;
  width: 385px;
}

.card__category {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  position: relative;
  margin-bottom: 20px;
}
.card__category::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #BB945F;
}

.book__title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 4rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.book__author {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 4rem;
  padding-bottom: 20px;
}

.book__description {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.book__image {
  position: absolute;
  right: -40px;
  bottom: 0;
}

.button {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid #0C0C0E;
  border-radius: 2px;
  transition: background 0.3s;
}
.button:not([disabled]):hover {
  background-color: #BB945F;
  border-color: #BB945F;
  cursor: pointer;
}
.button:disabled {
  color: #BB945F;
  border-color: #BB945F;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.4);
}
.overlay:hover {
  cursor: pointer;
}

.modal {
  position: relative;
  background-color: #FFFFFF;
  cursor: default;
}

.modal__close-icon {
  position: absolute;
  top: 10px;
  right: 25px;
  transition: filter 0.3s;
}
.modal__close-icon:hover {
  filter: invert(58%) sepia(49%) saturate(347%) hue-rotate(355deg) brightness(94%) contrast(92%);
  cursor: pointer;
}
.modal__close-icon svg {
  pointer-events: none;
}

.modal-form__title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.modal-form__input {
  width: 200px;
  height: 20px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #BB945F;
}
.modal-form__input:focus {
  outline: none;
}

.modal-profile {
  min-width: 600px;
}

.modal-profile__wrapper {
  display: grid;
  grid-template-columns: 170px auto;
}

.modal-profile__user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  background-color: #0C0C0E;
}

.user__avator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  color: #BB945F;
  background-color: #FFFFFF;
}

.user__name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background-color: #FFFFFF;
}

.user-info {
  padding: 40px 20px;
}

.user-info__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 20px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.user-info__wrapper {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.item__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 20px;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.item__count {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.rented-books__title {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  padding-bottom: 30px;
}

.rented-books {
  padding-bottom: 40px;
}

.rented-books__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  list-style: disc;
}

.list__item {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: capitalize;
}

.cards-profile__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.card__title,
.card__number {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
}

.card__number {
  color: #BB945F;
}

.card__svg:hover {
  filter: invert(58%) sepia(49%) saturate(347%) hue-rotate(355deg) brightness(94%) contrast(92%);
  cursor: pointer;
}

.modal-register {
  width: 250px;
}

.modal-register__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 25px;
}

.modal-register__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.register__item {
  padding-bottom: 10px;
}

.adition {
  margin-right: auto;
}

.adition__text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  padding-right: 10px;
}

.adition__link {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
  text-decoration-line: underline;
  transition: color 0.3s;
}
.adition__link:hover {
  color: #BB945F;
  cursor: pointer;
}

.modal-card {
  width: 650px;
}

.modal-card__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 20px;
  padding: 20px 0px;
  background-color: #0C0C0E;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.modal-card__content {
  display: grid;
  grid-template-columns: 200px auto;
  padding: 30px 40px 40px;
  gap: 40px;
}

.modal-card__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-form__wrapper-input {
  display: flex;
  gap: 10px;
  padding-top: 15px;
}

.modal-card__description {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
  color: #8E8E8E;
  text-align: justify;
}

.modal-form__footer {
  display: flex;
  align-items: flex-end;
  gap: 25px;
}

.modal-form__count {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}
@media (max-width: 1180px) {
  .wrapper {
    padding: 0 20px;
  }
}

.header {
  padding: 20px 0px;
  background-color: #0C0C0E;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.header__user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: filter 0.3s;
}
@media (max-width: 1180px) {
  .header__user-profile {
    z-index: 2;
    margin-left: auto;
  }
}
.header__user-profile:hover {
  cursor: pointer;
}

.layout-column {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1180px) {
  .layout-column {
    flex-wrap: wrap;
  }
}

.footer {
  padding: 20px 0px 40px;
  margin: auto;
  color: #FFFFFF;
  background-color: #0C0C0E;
}

.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__link:hover {
  color: #BB945F;
}

.library-address {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
  padding-bottom: 20px;
}

.social-networks {
  display: flex;
  gap: 15px;
}

.ico {
  display: block;
  width: 24px;
  height: 24px;
  transition: filter 0.3s;
}
.ico_twitter {
  background-image: url("../images/svg/social/twitter.svg");
}
.ico_instagram {
  background-image: url("../images/svg/social/instagram.svg");
}
.ico_facebook {
  background-image: url("../images/svg/social/facebook.svg");
}
.ico:hover {
  filter: invert(58%) sepia(49%) saturate(347%) hue-rotate(355deg) brightness(94%) contrast(92%);
}

.work-time {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work-time__item {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
  text-align: right;
}

.footer__line {
  height: 1px;
  margin: 30px 0px 45px;
  background: #FFFFFF;
  border-width: 0;
}

.footer__year,
.footer__link {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 2rem;
  color: #FFFFFF;
}

.footer__link {
  text-decoration: none;
}

.header__navigation {
  margin-left: auto;
}
@media (max-width: 1180px) {
  .header__navigation {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 330px;
    height: 100vh;
    padding: 15px;
    background: #000000;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
}
.header__navigation.open {
  background-color: #000000;
  transform: translateX(0);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1180px) {
  .navigation {
    flex-direction: column;
    padding-top: 100px;
  }
}

.navigation__link {
  position: relative;
  line-height: 50px;
  color: #FFFFFF;
  text-decoration: none;
}
.navigation__link:hover {
  color: #BB945F;
}
.navigation__link::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #BB945F;
  transition: width 0.3s ease-out;
}
.navigation__link:hover::after {
  width: 100%;
}

.welcome {
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 50%, transparent 50%, transparent 100%), url("../images/jpg/welcome.jpg") no-repeat center/cover;
}
.welcome__wrapper {
  padding: 220px 0 160px;
}

.welcome__content {
  max-width: 600px;
  margin-left: -20px;
  padding: 35px 40px;
  background-color: #0C0C0E;
}
@media (max-width: 1180px) {
  .welcome__content {
    margin-left: 0px;
  }
}

.welcome__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 5rem;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.about {
  padding: 20px 0 55px;
}

.about__text {
  padding-bottom: 20px;
  color: #000000;
  text-align: center;
}

.about__slides {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 58px;
}

.arrow {
  display: none;
  transition: filter 0.3s;
}
@media (max-width: 1180px) {
  .arrow {
    display: block;
  }
}
.arrow:hover {
  filter: invert(59%) sepia(31%) saturate(539%) hue-rotate(355deg) brightness(96%) contrast(89%);
  cursor: pointer;
}

.about__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 35px;
}
@media (max-width: 1180px) {
  .about__slider .about__image:nth-child(n+2) {
    display: none;
  }
}

.about__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.about__controls label:nth-child(n+8) {
  display: none;
}
@media (max-width: 1180px) {
  .about__controls label:nth-child(n+8) {
    display: block;
  }
}

.about__control {
  display: none;
}
.about__control + label {
  padding: 5px;
  transition: transform 1s ease-in-out;
}
.about__control + label:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.about__control + label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #0C0C0E;
  border-radius: 50%;
}
.about__control:checked + label::before {
  background-color: #BB945F;
}

.favorites {
  padding-bottom: 60px;
}

.favorites__subtitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
  padding-bottom: 30px;
  color: #000000;
}

.favorites__controls {
  display: flex;
  gap: 90px;
  padding-bottom: 35px;
  white-space: nowrap;
}
@media (max-width: 755px) {
  .favorites__controls {
    gap: 30px;
  }
}

.season__control {
  display: none;
}
.season__control + label {
  padding: 5px;
  margin: -5px;
}
.season__control + label:hover {
  cursor: pointer;
}
.season__control + label::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0px 20px 0px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border: 2px solid #000000;
  border-radius: 50%;
  vertical-align: middle;
}
.season__control:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e");
  vertical-align: middle;
}
.season__control:checked + label span {
  font-weight: 700;
}

.favorites__books {
  flex-wrap: wrap;
  gap: 40px;
  padding-right: 40px;
}
@media (max-width: 1180px) {
  .favorites__books {
    justify-content: center;
  }
}

.favorites__book {
  display: flex;
  align-items: initial;
  justify-content: flex-start;
}

.book__button {
  margin-top: auto;
}

.coffe-shop {
  padding-bottom: 60px;
}

.coffe-shop__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  padding-bottom: 40px;
  text-align: center;
}

.menu {
  gap: 40px;
}
.menu__drinkables, .menu__sweets {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  color: #BB945F;
}

.sweets {
  align-items: flex-end;
}
@media (max-width: 1180px) {
  .sweets {
    margin-left: auto;
  }
}

.drinkables .menu__item-name {
  display: inline-block;
  width: 200px;
}

.menu__item-name {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
}
.menu__item-price {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
}

.menu__line {
  display: inline-block;
  width: 100px;
  height: 1px;
  margin: 7px 55px;
  background: #BB945F;
}

.contacts {
  padding-bottom: 60px;
}

@media (max-width: 1180px) {
  .contacts__wrapper {
    gap: 100px;
  }
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 4rem;
}
.contacts__title:first-child {
  padding-bottom: 20px;
}
.contacts__title:nth-last-child(2) {
  padding-top: 20px;
}

.contact,
.contact__link {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  color: #000000;
  white-space: nowrap;
}

.contact__link {
  text-decoration: none;
  transition: color 0.3s;
}
.contact__link:hover {
  color: #BB945F;
}

.contacts__map {
  width: 696px;
  height: 414px;
  border: none;
}
@media (max-width: 1180px) {
  .contacts__map {
    margin: auto;
  }
}

.library-card {
  padding-bottom: 40px;
  color: #000000;
}

@media (max-width: 1180px) {
  .library-card__wrapper {
    justify-content: center;
    gap: 20px;
  }
}

.library-card__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}

.card-form__title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: normal;
  text-align: center;
}

.form {
  padding: 15px;
  border: 3px solid #BB945F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form__logo {
  padding-bottom: 20px;
  color: #000000;
}

.form__content {
  padding: 20px 20px 25px;
  background-color: #BB945F;
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form__input {
  width: 520px;
  padding: 21px 20px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  outline: none;
}
.form__input::placeholder {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 50px;
  color: #8E8E8E;
}

.form__button {
  display: block;
  margin: 20px auto 10px;
  font-size: 2rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 460px;
  text-align: right;
}
@media (max-width: 1180px) {
  .card-info {
    gap: 40px;
    max-width: 600px;
    text-align: center;
  }
}
.card-info__title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: normal;
}
.card-info__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 40px;
}

/*# sourceMappingURL=style.css.map */
