html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  appearance: textfield;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Verdana, sans-serif;
}

.profile__title, .modal-card__title, .modal-register__title, .card-info__title, .form__input, .menu__item-price, .menu__title, .welcome__title, .book__category, .library-logo, h2 {
  font-family: "Forum", Verdana, sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 0rem;
  color: #0c0c0e;
}
body.open {
  height: 100vh;
  overflow-y: hidden;
}

h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  position: relative;
  margin-bottom: 60px;
  text-align: center;
}
h2::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -20px;
  display: block;
  width: 50px;
  height: 1px;
  margin: 0 auto;
  background-color: #0c0c0e;
}

.library-logo {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 5rem;
  color: #ffffff;
}

.user-profile__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 50%;
}
.user-profile__icon:hover {
  cursor: pointer;
}
@media (max-width: 1205px) {
  .user-profile__icon {
    z-index: 2;
  }
}
.user-profile__initials {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  color: #bb945f;
}
.user-profile__drop-menu {
  position: absolute;
  top: 0px;
  z-index: 2;
}

.hamburger__line, .hamburger::after, .hamburger::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;
}

.hamburger {
  position: relative;
  display: none;
  width: 45px;
  height: 20px;
}
.hamburger::before {
  content: "";
  top: calc(50% - 11px);
}
.hamburger::after {
  content: "";
  top: calc(50% + 9px);
}
@media (max-width: 1205px) {
  .hamburger {
    z-index: 2;
    display: inline-block;
  }
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger:hover .hamburger__line, .hamburger:hover::after, .hamburger:hover::before {
  background-color: #bb945f;
}

.hamburger.open .hamburger__line {
  opacity: 0;
}
.hamburger.open::after, .hamburger.open::before {
  top: 50%;
  left: 0;
}
.hamburger.open::after {
  bottom: 7px;
  transform: rotate(-45deg);
}
.hamburger.open::before {
  top: 10px;
  transform: rotate(45deg);
}

.hamburger__line {
  top: calc(50% - 1px);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
  -webkit-transition: opacity 1s, visibility 1s;
}
.mask:hover {
  cursor: pointer;
}
.mask.open {
  display: block;
  visibility: visible;
  opacity: 1;
}

.book {
  position: relative;
  width: 550px;
  min-height: 555px;
  color: #000000;
  border: 1px solid #000000;
}

.book__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0px 15px 15px;
  width: 385px;
  height: 100%;
}

.book__category {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  position: relative;
  margin-bottom: 20px;
}
.book__category::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #bb945f;
}

.book__title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 4rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.book__author {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 4rem;
  padding-bottom: 20px;
}

.book__description {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.book__button {
  margin-top: auto;
}

.book__cover {
  position: absolute;
  right: -40px;
  bottom: 0;
}

.button {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid #0c0c0e;
  border-radius: 2px;
  transition: background 0.3s;
}
.button:not([disabled]):hover {
  background-color: #bb945f;
  border-color: #bb945f;
  cursor: pointer;
}
.button:disabled {
  color: #bb945f;
  border-color: #bb945f;
}
.button_fixed-width {
  width: 75px;
  padding: 8px 0px;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.4);
}
.overlay:hover {
  cursor: pointer;
}

.modal {
  position: relative;
  background-color: #ffffff;
  cursor: default;
}

.modal__close-icon {
  position: absolute;
  top: 12px;
  right: 13px;
  transition: filter 0.3s;
}
.modal__close-icon:hover {
  filter: invert(58%) sepia(49%) saturate(347%) hue-rotate(355deg) brightness(94%) contrast(92%);
  cursor: pointer;
}
.modal__close-icon svg {
  pointer-events: none;
}

.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}
.form-item__title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 20px;
}
.form-item__input {
  width: 200px;
  height: 20px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #bb945f;
}
.form-item__input.error {
  border-color: #ff0000;
}
.form-item__input:focus {
  outline: none;
}
.form-item__error {
  position: absolute;
  bottom: 5px;
  display: none;
  font-size: 7px;
  color: #ff0000;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}
@media (max-width: 1205px) {
  .wrapper {
    padding: 0 20px;
  }
}

.header {
  padding: 20px 0px;
  background-color: #0c0c0e;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.header__navigation {
  margin-left: auto;
}
@media (max-width: 1205px) {
  .header__navigation {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 330px;
    height: 100vh;
    padding: 15px;
    background: #000000;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
}
.header__navigation.open {
  background-color: #000000;
  transform: translateX(0);
}

.header__user-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
@media (max-width: 1205px) {
  .header__user-profile {
    margin-left: auto;
  }
}

.layout-column {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1205px) {
  .layout-column {
    flex-wrap: wrap;
  }
}

.footer {
  padding: 20px 0px 40px;
  margin: auto;
  color: #ffffff;
  background-color: #0c0c0e;
}

.footer__link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__link:hover {
  color: #bb945f;
}

.library-address {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
  padding-bottom: 20px;
}

.social-networks {
  display: flex;
  gap: 15px;
}

.ico {
  display: block;
  width: 24px;
  height: 24px;
  transition: filter 0.3s;
}
.ico_twitter {
  background-image: url("../images/svg/social/twitter.svg");
}
.ico_instagram {
  background-image: url("../images/svg/social/instagram.svg");
}
.ico_facebook {
  background-image: url("../images/svg/social/facebook.svg");
}
.ico:hover {
  filter: invert(58%) sepia(49%) saturate(347%) hue-rotate(355deg) brightness(94%) contrast(92%);
}

.work-time {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work-time__item {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
  text-align: right;
}

.footer__line {
  height: 1px;
  margin: 30px 0px 45px;
  background: #ffffff;
  border-width: 0;
}

.footer__year,
.footer__link {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 2rem;
  color: #ffffff;
}

.footer__link {
  text-decoration: none;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1205px) {
  .navigation {
    flex-direction: column;
    padding-top: 100px;
  }
}

.navigation__link {
  position: relative;
  line-height: 50px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
.navigation__link::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #bb945f;
  transition: width 0.3s ease-out;
}
.navigation__link:hover {
  color: #bb945f;
}
.navigation__link:hover::after {
  width: 100%;
}

.drop-menu {
  width: 80px;
  height: 115px;
  padding: 5px 4px 10px;
  background-color: #ffffff;
  transform: translateY(-130%);
  transition: transform 0.5s ease-in-out;
}
.drop-menu.open {
  transform: translateY(28px);
}

.drop-menu__title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 20px;
  margin-bottom: 20px;
}
.drop-menu__title::after {
  bottom: -5px;
  width: 40px;
  background-color: #bb945f;
}

.drop-menu__subtitle {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  padding-bottom: 10px;
  text-align: center;
  transition: color 0.3s;
}
.drop-menu__subtitle:hover {
  color: #bb945f;
  cursor: pointer;
}

.welcome {
  background: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 50%, transparent 50%, transparent 100%), url("../images/jpg/welcome.jpg") no-repeat center/cover;
}
.welcome__wrapper {
  padding: 220px 0 160px;
}

.welcome__content {
  max-width: 600px;
  margin-left: -20px;
  padding: 35px 40px;
  background-color: #0c0c0e;
}
@media (max-width: 1205px) {
  .welcome__content {
    margin-left: 0px;
  }
}

.welcome__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 5rem;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.about {
  padding: 20px 0 45px;
}

.about__subtitle {
  padding-bottom: 20px;
  color: #000000;
  line-height: 40px;
  text-align: center;
}

.swiper {
  position: relative;
  padding-bottom: 55px;
  max-width: 1400px;
}
.swiper .swiper__image {
  max-width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  width: calc(var(--swiper-navigation-size) / 44 * 115);
  color: #000000;
  transition: color 0.3s;
}
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
  }
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #bb945f;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px;
}

.swiper-slide,
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__bullet {
  padding: 5px;
  transition: transform 0.5s;
}
.pagination__bullet::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #0c0c0e;
  border-radius: 50%;
}
.pagination__bullet_active::before {
  background-color: #bb945f;
}
.pagination__bullet:not(.pagination__bullet_active):hover {
  transform: scale(1.3);
  cursor: pointer;
}

.favorites {
  padding-bottom: 60px;
}

.favorites__subtitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
  color: #000000;
}

.favorites__controls {
  display: flex;
  gap: 90px;
  white-space: nowrap;
  background: #ffffff;
  padding: 40px 0px;
}
@media (max-width: 1205px) {
  .favorites__controls {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}
@media (max-width: 755px) {
  .favorites__controls {
    gap: 30px;
  }
}

.season__control {
  display: none;
}
.season__control + label {
  padding: 5px;
  margin: -5px;
}
.season__control + label:hover {
  cursor: pointer;
}
.season__control + label::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0px 20px 0px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border: 2px solid #000000;
  border-radius: 50%;
  vertical-align: middle;
}
.season__control:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e");
  vertical-align: middle;
}
.season__control:checked + label span {
  font-weight: 700;
}
.season__control:checked + label {
  pointer-events: none;
  cursor: default;
}

.favorites__books {
  flex-wrap: wrap;
  gap: 40px;
  padding-right: 40px;
}
@media (max-width: 1205px) {
  .favorites__books {
    justify-content: center;
  }
}

.transition-damping {
  opacity: 1;
  animation: damping 0.3s ease-out;
}

.transition-appearance {
  opacity: 1;
  animation: appearance 0.3s ease-in;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes damping {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.coffee-shop {
  padding-bottom: 60px;
}

.coffee-shop__subtitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  padding-bottom: 40px;
  text-align: center;
}

.menu {
  gap: 40px;
}
.menu__drinkables, .menu__sweets {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu__drinkables .menu__item-name {
  display: inline-block;
  width: 200px;
}

.menu__sweets {
  align-items: flex-end;
}
@media (max-width: 1205px) {
  .menu__sweets {
    margin-left: auto;
  }
}

.menu__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  color: #bb945f;
}

.menu__item-name {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
}
.menu__item-price {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
}

.menu__line {
  display: inline-block;
  width: 100px;
  height: 1px;
  margin: 7px 55px;
  background: #bb945f;
}

.contacts {
  padding-bottom: 60px;
}

@media (max-width: 1205px) {
  .contacts__wrapper {
    gap: 100px;
  }
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 4rem;
}
.contacts__title:first-child {
  padding-bottom: 20px;
}
.contacts__title:nth-last-child(2) {
  padding-top: 20px;
}

.contact,
.contact__link {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  color: #000000;
  white-space: nowrap;
}

.contact__link {
  text-decoration: none;
  transition: color 0.3s;
}
.contact__link:hover {
  color: #bb945f;
}

.contacts__map {
  width: 696px;
  height: 414px;
  border: none;
}
@media (max-width: 1205px) {
  .contacts__map {
    margin: auto;
  }
}

.library-card {
  padding-bottom: 40px;
  color: #000000;
}

@media (max-width: 1205px) {
  .library-card__wrapper {
    justify-content: center;
    gap: 20px;
  }
}

.card-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}

.card-search__title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: normal;
  text-align: center;
}
.card-search__logo {
  padding-bottom: 20px;
  color: #000000;
}

.form {
  padding: 15px;
  border: 3px solid #bb945f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form__content {
  padding: 20px 20px 25px;
  background-color: #bb945f;
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form__field {
  display: flex;
  position: relative;
}

.form__field_error {
  position: absolute;
  bottom: -20px;
  display: none;
  font-size: 10px;
  line-height: 20px;
  color: #ff0000;
}

.form__input {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 50px;
  padding: 8px 20px;
  width: 520px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #bb945f;
}
.form__input::placeholder {
  color: #8e8e8e;
}
.form__input.validate-input {
  outline: 2px solid red;
}

.form__button {
  display: block;
  margin: 20px auto 10px;
  font-size: 2rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 460px;
  text-align: right;
}
@media (max-width: 1205px) {
  .card-info {
    gap: 40px;
    max-width: 600px;
    text-align: center;
  }
}
.card-info__title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: normal;
}
.card-info__subtitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 40px;
}

.card-info__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
@media (max-width: 1205px) {
  .card-info__buttons {
    justify-content: center;
  }
}

.user-statistics {
  display: flex;
}

.modal__user-statistics {
  gap: 20px;
}

.card__user-statistics {
  justify-content: center;
  gap: 35px;
  padding-top: 15px;
}

.modal__user-statistics_indent,
.card__user-statistics_indent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal__user-statistics_indent {
  gap: 10px;
}

.card__user-statistics_indent {
  gap: 1px;
}

.user-statistics__title_big-font {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 2rem;
  text-transform: capitalize;
}

.user-statistics__title_small-font {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 2rem;
  text-transform: capitalize;
}

.user-statistics__count {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.modal-register {
  width: 250px;
}

.modal-register__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 25px;
}

.modal-register__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.modal-register__button {
  margin: 10px 0px;
}

.modal-register__adition {
  margin-right: auto;
}

.adition__title {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  padding-right: 10px;
}

.adition__link {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
  text-decoration-line: underline;
  transition: color 0.3s;
}
.adition__link:hover {
  color: #bb945f;
  cursor: pointer;
}

.modal-card {
  width: 640px;
}

.modal-card__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 20px;
  padding: 20px 0px;
  background-color: #0c0c0e;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.modal-card__content {
  display: grid;
  grid-template-columns: 200px auto;
  padding: 30px 40px 40px 35px;
  gap: 40px;
}

.modal-card__form {
  display: flex;
  flex-direction: column;
}

.form-item__wrapper {
  display: flex;
  gap: 10px;
}

.modal-card__footer {
  display: flex;
  align-items: flex-end;
  gap: 27px;
  padding-top: 7px;
}

.modal-footer__count {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
}

.modal-card__description {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
  color: #8e8e8e;
}

.modal-profile {
  width: 600px;
}

.modal-profile__wrapper {
  display: grid;
  grid-template-columns: 170px auto;
}

.modal-profile__user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  background-color: #0c0c0e;
}

.user__avator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  color: #bb945f;
  background-color: #ffffff;
}

.user__name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 120px;
  background-color: #ffffff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: center;
}

.modal-profile__content {
  padding: 40px 20px;
}

.profile__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 20px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.rented-books {
  padding: 20px 0px 30px;
}

.rented-books__title {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  padding-bottom: 30px;
}

.rented-books__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  list-style: disc;
  height: 60px;
  overflow: auto;
}

.list__item {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: capitalize;
}

.profile__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.card__title,
.card__number {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
}

.card__number {
  color: #bb945f;
}

.card__svg:hover {
  filter: invert(58%) sepia(49%) saturate(347%) hue-rotate(355deg) brightness(94%) contrast(92%);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
