/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Verdana, sans-serif;
}

.card-info__title, .form__input::placeholder, .menu__item-price, .menu__title, .welcome__title, .card__title, .logo, h2 {
  font-family: "Forum", Verdana, sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  margin: auto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 4rem;
  color: #0c0c0e;
  overflow-x: hidden;
}
body.open {
  height: 100vh;
  overflow-y: hidden;
}

h2 {
  position: relative;
  margin-bottom: 61px;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  text-align: center;
}
h2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -21px;
  left: 0;
  display: block;
  width: 50px;
  height: 1px;
  margin: 0 auto;
  background-color: #0c0c0e;
}

.logo {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 5rem;
  color: #ffffff;
}

.hamburger__line, .hamburger:after, .hamburger:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.hamburger {
  position: relative;
  display: none;
  width: 45px;
  height: 20px;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger:hover:before, .hamburger:hover:after,
.hamburger:hover .hamburger__line {
  background-color: #bb945f;
}
@media (max-width: 1180px) {
  .hamburger {
    display: inline-block;
    transition: all 1s ease-in-out;
    z-index: 2;
  }
}
.hamburger:before {
  top: -2px;
  right: 0;
  transition: all 1s ease-in-out;
}
.hamburger:after {
  bottom: 0;
  right: 0;
  transition: all 1s ease-in-out;
}
.hamburger.open {
  margin-right: -6px;
}

.hamburger__line {
  top: calc(50% - 2px);
  left: 0;
  transition: all 1s ease-in-out;
}

.header__navigation.open {
  right: 0;
  transition: all 1s ease-in-out;
}

.hamburger.open::before {
  transition: all 1s ease-in-out;
  top: 10px;
  transform: rotate(45deg);
}

.hamburger.open::after {
  transition: all 1s ease-in-out;
  bottom: 7px;
  transform: rotate(-45deg);
}

.hamburger.open .hamburger__line {
  opacity: 0;
}

.card {
  position: relative;
  max-width: 550px;
  height: 555px;
  color: #000000;
  border: 1px solid #000000;
}
.card__content {
  padding: 14px 172px 13px 19px;
}
.card__title {
  position: relative;
  margin-bottom: 20px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
}
.card__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #bb945f;
}
.card__book-title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 4rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.card__book-author {
  padding-bottom: 19.5px;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 4rem;
}
.card__book-description {
  padding-bottom: 7px;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  text-transform: capitalize;
}
.card__book {
  position: absolute;
  bottom: -1px;
  right: -41px;
}

.button_small {
  position: absolute;
  bottom: 14px;
  width: 75px;
  padding: 8px 0px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #0c0c0e;
  border-radius: 2px;
  transition: background 0.3s;
}
.button_small:not([disabled]):hover {
  background-color: #bb945f;
  border-color: #bb945f;
  cursor: pointer;
}
.button_small:disabled {
  color: #bb945f;
  border-color: #bb945f;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}
@media (max-width: 1180px) {
  .wrapper {
    padding: 0 20px;
  }
}

.header {
  background-color: #0c0c0e;
  position: relative;
}
.header__wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 0px;
}
@media (max-width: 1180px) {
  .header__wrapper {
    padding: 20px;
  }
}
@media (max-width: 1180px) {
  .header__user-profile {
    margin-left: auto;
    z-index: 2;
  }
}

.user-profile {
  width: 28px;
  height: 28px;
  background-image: url("../images/svg/icon_profile.svg");
  transition: all 1s ease-in-out;
}
.user-profile:hover {
  filter: invert(59%) sepia(31%) saturate(539%) hue-rotate(355deg) brightness(96%) contrast(89%);
  cursor: pointer;
}
.user-profile.open {
  margin-right: -7px;
  transition: all 1s ease-in-out;
}

.layout-column {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1180px) {
  .layout-column {
    flex-wrap: wrap;
  }
}

.footer {
  padding: 19.5px 20px 44px 20px;
  margin: auto;
  background-color: #0c0c0e;
  color: #ffffff;
}
@media (max-width: 1180px) {
  .footer {
    padding: 19.5px 19px 44px 19px;
  }
}
.footer__link {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 1180px) {
  .footer__wrapper {
    padding: 0px;
  }
}

.address {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
  padding-bottom: 18px;
}

.social-networks {
  display: flex;
  gap: 15px;
  padding-left: 1px;
}

.ico {
  display: block;
  width: 24px;
  height: 24px;
  transition: filter 0.3s;
}
.ico_twitter {
  background-image: url("../images/svg/social/twitter.svg");
}
.ico_instagram {
  background-image: url("../images/svg/social/instagram.svg");
}
.ico_facebook {
  background-image: url("../images/svg/social/facebook.svg");
}
.ico:hover {
  filter: invert(58%) sepia(49%) saturate(347%) hue-rotate(355deg) brightness(94%) contrast(92%);
}

.work-time {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work-time__items:last-child {
  padding-right: 1px;
}
.work-time__item {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
  text-align: right;
}

.footer__line {
  margin: 30px 0px 45px;
  border-width: 0;
  height: 1px;
  background: #ffffff;
}

.footer__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 2rem;
  color: #ffffff;
  text-decoration: none;
}

.link__rs {
  padding-left: 143px;
}
@media (max-width: 1180px) {
  .link__rs {
    padding-left: 88px;
  }
}
@media (max-width: 755px) {
  .link__rs {
    padding-left: 0px;
  }
}

.footer__link {
  transition: color 0.3s;
}
.footer__link:hover {
  color: #bb945f;
}

.header__navigation {
  margin-left: auto;
}
@media (max-width: 1180px) {
  .header__navigation {
    position: absolute;
    top: 0;
    right: -332px;
    z-index: 2;
    width: 332px;
    height: 570px;
    background-color: #000000;
    transition: all 1s ease-in-out;
  }
}

.mask-content {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
  -webkit-transition: opacity 1s, visibility 1s;
}
.mask-content:hover {
  cursor: pointer;
}
.mask-content.open {
  display: block;
  visibility: visible;
  opacity: 1;
}

.navigation {
  display: flex;
  gap: 30px;
}
@media (max-width: 1180px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
}

.navigation__link {
  position: relative;
  line-height: 1px;
  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 1180px) {
  .navigation__link {
    line-height: 50px;
  }
}
.navigation__link:hover {
  color: #bb945f;
}
.navigation__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #bb945f;
  transition: width 0.3s ease-out;
}
.navigation__link:hover:after {
  width: 100%;
}

.welcome {
  background: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 50%, transparent 50%, transparent 100%), url("../images/jpg/welcome.jpg") no-repeat center/cover;
}
.welcome__wrapper {
  padding: 220px 0 160px;
}
.welcome__content {
  max-width: 600px;
  padding: 35px 40px;
  margin-left: -19px;
  background-color: #0c0c0e;
}
@media (max-width: 1180px) {
  .welcome__content {
    margin-left: 0px;
  }
}
.welcome__title {
  margin: 0px;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 5rem;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.about {
  padding: 20px 0 55px;
}
.about__text {
  padding-bottom: 20px;
  color: #000000;
  text-align: center;
}
.about__slider {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-bottom: 35px;
}
.about__slider img {
  width: 31.25vw;
}
@media (max-width: 1180px) {
  .about__slider {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .about__slider img {
    width: 450px;
  }
  .about__slider img:nth-child(n+2) {
    display: none;
  }
}
.about__controls {
  display: flex;
  justify-content: center;
  color: #000000;
}
.about__controls label:nth-child(n+8) {
  display: none;
}
@media (max-width: 1180px) {
  .about__controls label:nth-child(n+8) {
    display: block;
  }
}

.about__control {
  display: none;
}
.about__control + label {
  padding: 5px;
  transition: all 1s;
}
.about__control + label:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.about__control + label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #0c0c0e;
  border-radius: 50%;
}
.about__control:checked + label::before {
  background-color: #bb945f;
}

@media (max-width: 1180px) {
  .slides {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 58px;
  }
}

.arrow {
  display: none;
  transition: filter 0.3s;
}
@media (max-width: 1180px) {
  .arrow {
    display: block;
  }
}
.arrow:hover {
  cursor: pointer;
  filter: invert(59%) sepia(31%) saturate(539%) hue-rotate(355deg) brightness(96%) contrast(89%);
}

.favorites {
  padding-bottom: 60px;
}
.favorites__text {
  padding: 0px 0.5px 32px 0px;
  margin-top: -0.5px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
  color: #000000;
}
.favorites__controls {
  display: flex;
  gap: 91px;
  padding-bottom: 32px;
}
@media (max-width: 755px) {
  .favorites__controls {
    text-wrap: nowrap;
    gap: 30px;
  }
}
.favorites__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding-right: 40px;
}
@media (max-width: 1180px) {
  .favorites__cards {
    justify-content: center;
  }
}

.season__control {
  display: none;
}
.season__control + label {
  padding: 5px;
  margin: -5px;
}
.season__control + label:hover {
  cursor: pointer;
}
.season__control + label::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0px 20px 0px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border: 2px solid #000000;
  border-radius: 50%;
  vertical-align: middle;
}
.season__control:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e");
  vertical-align: middle;
}
.season__control:checked + label span {
  font-weight: 700;
}

.favorites__spring, .favorites__summer, .favorites__autumn {
  display: none;
}

.coffe-shop {
  padding-bottom: 58px;
}
.coffe-shop__text {
  padding-bottom: 40px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  text-align: center;
}
.coffe-shop__text span {
  padding-right: 5px;
}

@media (max-width: 1180px) {
  .coffe-shop__wrapper {
    padding: 0px 19px;
  }
}

@media (max-width: 1180px) {
  .menu {
    gap: 38px;
  }
}
.menu__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  color: #bb945f;
}
.menu__left-side, .menu__right-side {
  display: flex;
  flex-direction: column;
  gap: 39.3px;
}
@media (max-width: 1180px) {
  .menu__left-side {
    padding-left: 1px;
  }
}
.menu__right-side {
  text-align: right;
}
@media (max-width: 1180px) {
  .menu__right-side {
    margin-left: auto;
    margin-right: -1px;
  }
  .menu__right-side .menu__title {
    padding-right: 3px;
  }
  .menu__right-side .menu__item {
    gap: 39px;
  }
}
.menu__right-side .menu__item-name {
  width: 212px;
}
.menu__line {
  height: 1px;
  background: #bb945f;
  width: 100px;
  margin: 20px;
}

.menu__item {
  display: flex;
  gap: 38px;
}
.menu__item-name {
  width: 200px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
}
.menu__item-price {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
}

.contacts {
  padding-bottom: 60px;
  color: #000000;
  padding-left: 1px;
}
@media (max-width: 1180px) {
  .contacts .title {
    padding-left: 4px;
  }
}
.contacts__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 4rem;
}
.contacts__title:first-child {
  padding-bottom: 20px;
}
@media (max-width: 1180px) {
  .contacts__title .title {
    padding-left: 1px;
  }
}
.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1180px) {
  .contacts__wrapper {
    gap: 100px;
  }
}

.contact {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 4rem;
  color: #000000;
  white-space: nowrap;
  text-decoration: none;
  transition: color 0.3s;
}
.contact a:hover {
  color: #bb945f;
}

@media (max-width: 1180px) {
  .contacts__map {
    margin: auto;
  }
}
@media (max-width: 755px) {
  .contacts__map {
    width: 90.625vw;
  }
}

.library-card {
  padding-bottom: 41px;
  color: #000000;
}
@media (max-width: 1180px) {
  .library-card .title {
    padding-left: 3px;
  }
}
.library-card__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}
.library-card__info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 456px;
  text-align: right;
}

@media (max-width: 1180px) {
  .library-card__wrapper {
    justify-content: center;
    gap: 22px;
  }
}

.card-form__title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: normal;
  text-align: center;
}
@media (max-width: 1180px) {
  .card-form__title {
    padding-left: 2px;
  }
}

.form {
  padding: 17px;
  border: 3px solid #bb945f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form__content {
  padding: 20px 20px 24px;
  background-color: #bb945f;
}
.form__content__logo {
  padding-bottom: 20px;
  color: #000000;
}

.form__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.form__input {
  width: 520px;
  padding: 21px 20px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  outline: none;
}
.form__input::placeholder {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 50px;
  color: #8e8e8e;
}

.form__button {
  display: block;
  padding: 8.9px 39px;
  margin: 20px auto 10px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
  color: #0c0c0e;
  background-color: transparent;
  border: 1px solid #0c0c0e;
  border-radius: 2px;
  transition: background 0.3s;
}
.form__button:hover {
  background-color: #bb945f;
  border-color: #bb945f;
  cursor: pointer;
}

@media (max-width: 1180px) {
  .card-info {
    gap: 39px;
    max-width: 600px;
    text-align: center;
    padding-left: 2px;
  }
}
.card-info__title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: normal;
}
.card-info__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 40px;
}
.card-info__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
@media (max-width: 1180px) {
  .card-info__buttons {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
