* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
}

.audio-player {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.audio-player__wrapper {
  display: grid;
  grid-template-columns: 430px 300px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px #000000;
  border-radius: 20px;
}

.category {
  padding: 20px;
}

.category__title {
  font-family: 'Forum', sans-serif;
}

.category__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
}

.category__control {
  display: none;
}

.category__image {
  width: 115px;
  height: 110px;
}

.category__label {
  position: relative;
  display: block;
}

.category__input {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.category__input + div:after {
  content: '\2713';
  position: absolute;
  left: -6px;
  top: -6px;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #fe198e99;
  border-radius: 50%;
  opacity: 0;
}
.category__input:checked + div:after {
  opacity: 1;
}

.category__input:checked + div .category__image {
  box-shadow: 0px 0px 15px #000000;
}

.category__input + div .category__image {
  color: #000000;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  cursor: pointer;
}

.songs-list {
  padding: 30px 20px;
  font-size: 20px;
}

.cover {
  display: inline-block;
  width: 100%;
  height: 300px;
  border-top-right-radius: 20px;
}

.player-attributes {
  padding: 0px 20px 20px;
}

.player__controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.song {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.song__musician {
  font-family: 'Forum', sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #ff218c;
}

.ico {
  display: block;
  padding: 20px 10px;
  transition: filter 0.2s;
}

.ico:hover {
  filter: invert(26%) sepia(60%) saturate(6790%) hue-rotate(316deg)
    brightness(101%) contrast(99%);
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  border: none;
}

.progress-bar {
  width: 100%;
  border-radius: 30px;
  -webkit-appearance: none;
  appearance: none;
}

.progress-bar::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  margin-top: -3px;
  background: -webkit-linear-gradient(
    45deg,
    rgb(248, 246, 246),
    rgb(243, 144, 231)
  );
  border-radius: 50%;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
  height: 5px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.player__duration {
  display: flex;
  justify-content: space-between;
}

.time__current,
.time__duration {
  padding-top: 5px;
}

.time__duration {
  color: #ff218c;
}
