.about {
  padding: 20px 0 55px;
}

.about__text {
  padding-bottom: 20px;
  color: $color-additional;
  text-align: center;
}

.about__slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 35px;

  @include media-tablet {
    flex-wrap: wrap;
    padding-bottom: 20px;

    & img:nth-child(n + 2) {
      display: none;
    }
  }
}

.about__controls {
  display: flex;
  justify-content: center;
  color: $color-additional;

  & label:nth-child(n + 8) {
    display: none;

    @include media-tablet {
      display: block;
    }
  }
}

.about__control {
  display: none;

  & + label {
    padding: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  & + label::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: $color-primary;
    border-radius: 50%;
  }

  &:checked + label::before {
    background-color: $color-hovered;
  }
}

.slides {
  @include media-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 58px;
  }
}

.arrow {
  display: none;

  @include media-tablet {
    display: block;
  }
}
