.about {
  padding: 20px 0 55px;

  &__text {
    padding-bottom: 20px;
    color: $color-additional;
    text-align: center;
  }

  &__slider {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 35px;

    & img {
      width: adaptiv-value(450, 1440);
    }

    @include media-tablet {
      flex-wrap: wrap;
      padding-bottom: 20px;

      & img {
        width: 450px;
      }

      & img:nth-child(n + 2) {
        display: none;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    color: $color-additional;

    & label:nth-child(n + 8) {
      display: none;

      @include media-tablet {
        display: block;
      }
    }
  }
}

.about__control {
  display: none;

  & + label {
    padding: 5px;
    transition: all 1s;

    &:hover {
      cursor: pointer;
      transform: scale(1.3);
    }
  }

  & + label::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: $color-primary;
    border-radius: 50%;
  }

  &:checked + label::before {
    background-color: $color-hovered;
  }
}

.slides {
  @include media-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 58px;
  }
}

.arrow {
  display: none;
  transition: filter 0.3s;

  @include media-tablet {
    display: block;
  }

  &:hover {
    cursor: pointer;
    filter: invert(59%) sepia(31%) saturate(539%) hue-rotate(355deg) brightness(96%) contrast(89%);
  }
}
