.about {
  padding: 20px 0 45px;
}

.about__subtitle {
  padding-bottom: 20px;
  color: $color-additional;
  line-height: 40px;
  text-align: center;
}

.swiper {
  position: relative;
  padding-bottom: 55px;
  max-width: 1400px;

  & .swiper__image {
    max-width: 100%;
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  width: calc(var(--swiper-navigation-size) / 44 * 115);
  color: $color-additional;
  transition: color 0.3s;

  @media (max-width: 768px) {
    display: flex;
  }

  &:hover {
    color: $color-hovered;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px;
}

.swiper-slide,
.swiper-pagination {
  @include flex();
}

.pagination__bullet {
  padding: 5px;
  transition: transform 0.5s;

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: $color-primary;
    border-radius: 50%;
  }

  &_active::before {
    background-color: $color-hovered;
  }

  &:not(.pagination__bullet_active):hover {
    transform: scale(1.3);
    cursor: pointer;
  }
}
