.coffee-shop {
  padding-bottom: 60px;
}

.coffee-shop__subtitle {
  @include font($size: 2rem, $height: 4rem, $weight: 400, $letter: 2px);
  padding-bottom: 40px;
  text-align: center;
}

.menu {
  gap: 40px;

  &__drinkables,
  &__sweets {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.menu__drinkables {
  & .menu__item-name {
    display: inline-block;
    width: 200px;
  }
}

.menu__sweets {
  align-items: flex-end;

  @include media-tablet {
    margin-left: auto;
  }
}

.menu__title {
  @extend %font-additional;
  @include font($size: 4rem, $height: 4rem, $weight: 400, $letter: 2px);
  color: $color-hovered;
}

.menu__item {
  &-name {
    @include font($size: 2rem, $height: 4rem, $weight: 400, $letter: 2px);
  }

  &-price {
    @extend %font-additional;
    @include font($size: 2rem, $height: 4rem, $weight: 400, $letter: 2px);
  }
}

.menu__line {
  display: inline-block;
  width: 100px;
  height: 1px;
  margin: 7px 55px;
  background: $color-hovered;
}
