.coffe-shop {
  padding-bottom: 58px;
}

.coffe-shop__text {
  @include font($size: 2rem, $height: 4rem, $weight: 400, $letter: 2px);
  padding-bottom: 40px;
  text-align: center;

  & span {
    padding-right: 5px;
  }
}

.coffe-shop__wrapper {
  @include media-tablet {
    padding: 0px 19px;
  }
}

.menu {
  @include media-tablet {
    gap: 38px;
  }

  &__left-side,
  &__right-side {
    display: flex;
    flex-direction: column;
    gap: 39.3px;
  }
}

.menu__title {
  @extend %font-additional;
  @include font($size: 4rem, $height: 4rem, $weight: 400, $letter: 2px);
  color: $color-hovered;
}

.menu__right-side {
  text-align: right;

  @include media-tablet {
    margin-left: auto;
  }

  .menu__item-name {
    width: 212px;
  }
}

.menu__line {
  height: 1px;
  background: $color-hovered;
  width: 100px;
  margin: 20px;
}

.menu__item {
  display: flex;
  gap: 38px;

  &-name {
    @include font($size: 2rem, $height: 4rem, $weight: 400, $letter: 2px);
    width: 200px;
  }

  &-price {
    @extend %font-additional;
    @include font($size: 2rem, $height: 4rem, $weight: 400, $letter: 2px);
  }
}
