.coffe-shop {
  padding-bottom: 58px;

  &__text {
    padding-bottom: 40px;
    @include font($size: 2rem, $height: 4rem, $weight: 400, $letter: 2px);
    text-align: center;

    & span {
      padding-right: 5px;
    }
  }
}

.coffe-shop__wrapper {
  @include media-tablet {
    padding: 0px 19px;
  }
}

.menu {
  @include media-tablet {
    gap: 38px;
  }

  &__title {
    @extend %font-additional;
    @include font($size: 4rem, $height: 4rem, $weight: 400, $letter: 2px);
    color: $color-hovered
  }

  &__left-side,
  &__right-side {
    display: flex;
    flex-direction: column;
    gap: 39.3px;
  }

  &__right-side {
    text-align: right;

    @include media-tablet {
      margin-left: auto;
    }

    .menu__item-name {
      width: 212px;
    }
  }

  &__line {
    height: 1px;
    background: $color-hovered;
    width: 100px;
    margin: 20px;
  }
}

.menu__item {
  display: flex;
  gap: 38px;

  &-name {
    width: 200px;
    @include font($size: 2rem, $height: 4rem, $weight: 400, $letter: 2px);
  }

  &-price {
    @extend %font-additional;
    @include font($size: 2rem, $height: 4rem, $weight: 400, $letter: 2px);
  }
}