.favorites {
  padding-bottom: 60px;
}

.favorites__subtitle {
  @include font($size: 2rem, $height: normal, $weight: 700);
  padding-bottom: 30px;
  color: $color-additional;
}

.favorites__controls {
  display: flex;
  gap: 90px;
  white-space: nowrap;
  background: $color-light;

  @include media-tablet {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  // @media (max-width: 768px) {
  //   position: sticky;
  //   top: 0;
  //   z-index: 2;
  // }

  @include media-mobile {
    gap: 30px;
  }
}

.season__control {
  display: none;

  & + label {
    padding: 5px;
    margin: -5px;

    &:hover {
      cursor: pointer;
    }
  }

  & + label::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0px 20px 0px 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border: 2px solid $color-additional;
    border-radius: 50%;
    vertical-align: middle;
  }

  &:checked + label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e");
    vertical-align: middle;
  }

  &:checked + label span {
    font-weight: 700;
  }
}

.favorites__books {
  flex-wrap: wrap;
  gap: 40px;
  padding: 35px 40px 0px 0px;

  @include media-tablet {
    justify-content: center;
  }
}

.favorites__book {
  @include flex($align: initial, $justify: flex-start);
}

.book__button {
  margin-top: auto;
}

.transition-damping {
  opacity: 1;
  animation: damping 0.2s ease-out;
}

.transition-appearance {
  opacity: 1;
  animation: appearance 0.2s ease-in;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes damping {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
