.library-card {
  padding-bottom: 40px;
  color: $color-additional;
}

.library-card__wrapper {
  @include media-tablet {
    justify-content: center;
    gap: 20px;
  }
}

.card-search {
  @include flex();
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}

.card-search {
  &__title {
    @include font($size: 3rem, $height: normal, $weight: 400, $letter: 0.6px);
    text-align: center;
  }

  &__logo {
    padding-bottom: 20px;
    color: $color-additional;
  }
}

.form {
  padding: 15px;
  border: 3px solid $color-hovered;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form__content {
  padding: 20px 20px 25px;
  background-color: $color-hovered;
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form__field {
  display: flex;
  position: relative;
}

.form__field_error {
  position: absolute;
  bottom: -20px;
  display: none;
  font-size: 10px;
  line-height: 20px;
  color: $color-error;
}

.form__input {
  @extend %font-additional;
  @include font($size: 3rem, $height: 50px, $weight: 400, $letter: 0.6px);
  padding: 8px 20px;
  width: 520px;
  background: $color-light;
  border-radius: 10px;
  border: none;
  outline: none;

  color: $color-hovered;

  &::placeholder {
    color: $color-placeholder;
  }

  &.validate-input {
    outline: 2px solid red;
  }
}

.form__button {
  display: block;
  margin: 20px auto 10px;
  font-size: 2rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 460px;
  text-align: right;

  @include media-tablet {
    gap: 40px;
    max-width: 600px;
    text-align: center;
  }

  &__title {
    @extend %font-additional;
    @include font($size: 3rem, $height: normal, $weight: 400, $letter: 0.6px);
  }

  &__subtitle {
    @include font($size: 2rem, $height: 40px, $weight: 400, $letter: 0.4px);
  }
}

.card-info__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  @include media-tablet {
    justify-content: center;
  }
}
