.library-card {
  padding-bottom: 41px;
  color: $color-additional;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 456px;
    text-align: right;
  }
}

.library-card__wrapper {
  @include media-tablet {
    justify-content: center;
    gap: 22px;
  }
}

.library-card__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}

.library-card__info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 456px;
  text-align: right;
}

.card-form__title {
  @include font($size: 3rem, $height: normal, $weight: 400, $letter: 0.6px);
  text-align: center;
}

.form {
  padding: 17px;
  border: 3px solid $color-hovered;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form__content {
  padding: 20px 20px 24px;
  background-color: $color-hovered;

  &__logo {
    padding-bottom: 20px;
    color: $color-additional;
  }
}

.form__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.form__input {
  width: 520px;
  padding: 21px 20px;
  background: $color-light;
  border-radius: 10px;
  border: none;
  outline: none;

  &::placeholder {
    @extend %font-additional;
    @include font($size: 3rem, $height: 50px, $weight: 400, $letter: 0.6px);
    color: $color-placeholder;
  }
}

.form__button {
  @include font($size: 2rem, $height: normal, $weight: 700, $letter: 1px);
  display: block;
  padding: 8.9px 39px;
  margin: 20px auto 10px;
  color: $color-primary;
  background-color: transparent;
  border: 1px solid $color-primary;
  border-radius: 2px;
  transition: background 0.3s;

  &:hover {
    background-color: $color-hovered;
    border-color: $color-hovered;
    cursor: pointer;
  }
}

.card-info {
  @include media-tablet {
    gap: 39px;
    max-width: 600px;
    text-align: center;
    padding-left: 2px;
  }

  &__title {
    @extend %font-additional;
    @include font($size: 3rem, $height: normal, $weight: 400, $letter: 0.6px);
  }

  &__text {
    @include font($size: 2rem, $height: 40px, $weight: 400, $letter: 0.4px);
  }
}

.card-info__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  @include media-tablet {
    justify-content: center;
  }
}
