.navigation {
  @include flex();
  gap: 30px;

  @include media-tablet {
    flex-direction: column;
    padding-top: 100px;
  }
}

.navigation__link {
  position: relative;
  line-height: 50px;
  color: $color-light;
  text-decoration: none;
  transition: color 0.3s ease-out;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: $color-hovered;
    transition: width 0.3s ease-out;
  }

  &:hover {
    color: $color-hovered;

    &::after {
      width: 100%;
    }
  }
}
