.menu-profile {
  position: absolute;
  top: 0px;
  z-index: 2;
  width: 80px;
  height: 115px;
  padding: 5px 10px 10px;
  margin-right: 50px;
  background-color: $color-light;
  transform: translateY(-130%);
  transition: transform 0.5s ease-in-out;

  &.open {
    transform: translateY(28px);
  }
}

.menu-profile__title {
  @include font($size: 1.5rem, $height: 20px, $weight: 700);
  margin-bottom: 20px;

  &::after {
    bottom: -5px;
    width: 40px;
    background-color: $color-hovered;
  }
}

.menu-profile__login,
.menu-profile__register {
  @include font($size: 1.5rem, $height: 20px, $weight: 400);
  padding-bottom: 10px;
  text-align: center;
  transition: color 0.3s;

  &:hover {
    color: $color-hovered;
    cursor: pointer;
  }
}
