$color-primary: #0c0c0e;
$color-additional: #000000;
$color-placeholder: #8e8e8e;
$color-hovered: #bb945f;
$color-light: #ffffff;

$content-width: 1400px;
$tablet-width: 1180px;
$mobile-width: 755px;
