$color-primary: #0c0c0e;
$color-additional: #000000;
$color-placeholder: #8e8e8e;
$color-hovered: #bb945f;
$color-light: #ffffff;
$color-error: #ff0000;
$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 1400px;
$tablet-width: 1205px;
$mobile-width: 755px;
