html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  margin: auto;
  @extend %font-primary;
  @include font($size: 2rem, $height: 4rem, $weight: 400);
  color: $color-primary;
  overflow-x: hidden;

  &.open {
    height: 100vh;
    overflow-y: hidden;
  }
}

h2 {
  position: relative;
  margin-bottom: 61px;
  @extend %font-additional;
  @include font($size: 4rem, $height: 4rem, $weight: 400, $letter: 2px);
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -21px;
    left: 0;
    display: block;
    width: 50px;
    height: 1px;
    margin: 0 auto;
    background-color: $color-primary;
  }
}
