%hamburger-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: $color-light;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

.hamburger {
  position: relative;
  display: none;
  width: 45px;
  height: 20px;

  @include media-tablet {
    z-index: 2;
    display: inline-block;
    transition: all 0.5s ease-in-out;
  }

  &::before {
    content: '';
    @extend %hamburger-line;
    top: calc(50% - 10px);
  }

  &::after {
    content: '';
    @extend %hamburger-line;
    top: calc(50% + 10px);
  }

  &:hover {
    cursor: pointer;

    & .hamburger__line,
    &::after,
    &::before {
      background-color: $color-hovered;
    }
  }
}

.hamburger.open {
  & .hamburger__line {
    display: none;
  }

  &::after {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
    transition: transform 0.5s ease-in-out;
  }

  &::before {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
    transition: transform 0.5s ease-in-out;
  }
}

.hamburger__line {
  @extend %hamburger-line;
}
