%hamburger-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: $color-light;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;
}

.hamburger {
  position: relative;
  display: none;
  width: 45px;
  height: 20px;

  &::before {
    content: '';
    @extend %hamburger-line;
    top: calc(50% - 11px);
  }

  &::after {
    content: '';
    @extend %hamburger-line;
    top: calc(50% + 9px);
  }

  @include media-tablet {
    z-index: 2;
    display: inline-block;
  }

  &:hover {
    cursor: pointer;

    & .hamburger__line,
    &::after,
    &::before {
      background-color: $color-hovered;
    }
  }
}

.hamburger.open {
  & .hamburger__line {
    opacity: 0;
  }

  &::after,
  &::before {
    top: 50%;
    left: 0;
  }

  &::after {
    bottom: 7px;
    transform: rotate(-45deg);
  }

  &::before {
    top: 10px;
    transform: rotate(45deg);
  }
}

.hamburger__line {
  @extend %hamburger-line;
  top: calc(50% - 1px);
}
